1. values: 'helo', 6, -87.8
   expressions :*,-,+,/

2. String: it is one of the datatype it consist of any value or text represented in single or double quotes.
    example: "heman"
   variable: any text or character which will be assigned with different datatypes
    example: h = "hema" i.e here h is the variable and "heman" is the string datatype

3. Integer: any number which does not have fractions eg: 22,222
   String: any value or text represented in single or double quotes eg:"22", "heman"
   List: it is a set of elements which may or maynot be the same data types. eg: ["hema", "22"]

4. Expression made up of any sequence of literals like strings, numbers, tuples, operators etc.., expressions can print statements, make mathematical operations, boolean operations etc...,

5. the = operator doing assignment operation represents expression and the whole line of expression itself in the python represents statement.

In [1]:
bacon = 22
bacon+1

23

In [2]:
"spam" + "spamspam"
"spam"*3

'spamspamspam'

8. since 100 is a literal having constant value it is invalid to be a variable name, on the other hand egg is a simple text or character it is valid to be a variable name.

9. int()
   float()
   str()

10. 'I have eaten' + 99 + 'burritos'
    it is not possible to concatinate different datatypes, we can fix it by converting 99 in to string type.